
Library
Temp
*.cache
*.cache
Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Assets/.VerMng/Android
Assets/Slua
/.vs/meteor_original_ios/v15/.suo
/.vs/meteor_original_ios/v15/Server/sqlite3/db.lock
/.vs/meteor_original_ios/v15/Server/sqlite3/storage.ide
/.vs/meteor_original_ios/v15/Server/sqlite3/storage.ide-shm
/.vs/meteor_original_ios/v15/Server/sqlite3/storage.ide-wal
/.vsconfig
/Logs/AssetImportWorker0.log
/Logs/AssetImportWorker1.log
/Logs/shadercompiler-AssetImportWorker0.log
/Logs/shadercompiler-UnityShaderCompiler.exe0.log
/Logs/shadercompiler-UnityShaderCompiler.exe1.log
/Logs/shadercompiler-UnityShaderCompiler.exe10.log
/Logs/shadercompiler-UnityShaderCompiler.exe11.log
/Logs/shadercompiler-UnityShaderCompiler.exe12.log
/Logs/shadercompiler-UnityShaderCompiler.exe13.log
/Logs/shadercompiler-UnityShaderCompiler.exe14.log
/Logs/shadercompiler-UnityShaderCompiler.exe15.log
/Logs/shadercompiler-UnityShaderCompiler.exe2.log
/Logs/shadercompiler-UnityShaderCompiler.exe3.log
/Logs/shadercompiler-UnityShaderCompiler.exe4.log
/Logs/shadercompiler-UnityShaderCompiler.exe5.log
/Logs/shadercompiler-UnityShaderCompiler.exe6.log
/Logs/shadercompiler-UnityShaderCompiler.exe7.log
/Logs/shadercompiler-UnityShaderCompiler.exe8.log
/Logs/shadercompiler-UnityShaderCompiler.exe9.log
